{
	"--title": "Cloud - Appcelerator Docs",
    "--external": "Hash,FileUpload,Any,BinaryData",
    "--rest": true,
    "--categories": "../cloud_docs/categories.json",
	"--meta-tags": "meta",
	"--welcome": "welcome.html",
	"--head-html": "<link rel='stylesheet' href='resources/css/my.css' type='text/css'><link rel='stylesheet' href='resources/css/common.css' type='text/css'>",
    "--body-html": [ "<script type=\"text/javascript\">",
                    "Docs.otherProducts = [ {", 
                    "text: 'Appcelerator Platform',",
                    "href: '../../platform/latest/'",
                    "}, {",
                    "text: 'Cloud',",
                    "href: '../../cloud/latest'",
                    "}, {",
                    "text: 'Titanium 3.X',",
                    "href: '../../titanium/latest'",
                    "}, {",
                    "text: 'Titanium 2.X',",
                    "href: '../../titanium/2.1'",
                    "} ];",
                    "Docs.isRESTDoc = true; </script>" ],
    "--guides": "../cloud_docs/guides.json",
	"--": ["../cloud_docs/apidoc"]
}
