{
	"--title": "Titanium 3.X - Appcelerator Docs",
    "--external": "void,Callback,Backbone.Collection,Backbone.Model,Backbone.Events",
	"--meta-tags": "meta",
	"--welcome": "welcome.html",
	"--head-html": "<link rel='stylesheet' href='resources/css/my.css' type='text/css'><link rel='stylesheet' href='resources/css/common.css' type='text/css'>",
    "--body-html": [ "<script type=\"text/javascript\">",
                    "Docs.otherProducts = [ {", 
                    "text: 'Cloud',",
                    "href: '/cloud/latest/'",
                    "}, {",
                    "text: 'Titanium 3.X',",
                    "href: '/titanium/latest/'",
                    "}, {",
                    "text: 'Titanium 2.X',",
                    "href: '/titanium/2.1/'",
                    "} ] </script>" ],
	"--guides": "./build/guides/guides.json",
    "--warnings": "-req_after_opt,-dup_member",
    "--videos": "./build/videos.json",
	"--": ["./build/titanium.js" ]
}
