{
	"--title": "Cloud Docs - Appcelerator Docs",
	"--output": "./dist/cloud/latest",
    "--external": "Hash,FileUpload",
    "--rest": true,
    "--categories": "../cloud_docs/categories.json",
	"--meta-tags": "meta",
	"--welcome": "welcome.html",
	"--head-html": "<link rel='stylesheet' href='resources/css/my.css' type='text/css'><link rel='stylesheet' href='resources/css/common.css' type='text/css'>",
    "--body-html": [ "<script type=\"text/javascript\">",
                    "Docs.otherProducts = [ {", 
                    "text: 'Cloud Docs',",
                    "href: '/cloud/latest'",
                    "}, {",
                    "text: 'Titanium 3.0 Docs',",
                    "href: '/titanium/3.0'",
                    "}, {",
                    "text: 'Titanium 2.X Docs',",
                    "href: '/titanium/2.1'",
                    "} ];",
                    "Docs.isRESTDoc = true; </script>" ],
    "--guides": "../cloud_docs/guides.json",
	"--": ["../cloud_docs/apidoc"]
}
