{
	"--title": "Appcelerator Titanium Mobile",
    "--external": "void,Callback,Backbone.Collection,Backbone.Model,Backbone.Events",
	"--output": "./dist",
	"--meta-tags": "meta",
	"--welcome": "welcome.html",
	"--head-html": "<link rel='stylesheet' href='resources/css/my.css' type='text/css'><link rel='stylesheet' href='resources/css/common.css' type='text/css'>",
	"--guides": "./build/guides/guides.json",
    "--warnings": "-req_after_opt",
    "--videos": "./build/videos.json",
	"--": ["./build/titanium.js" ]
}
