{
	"--title": "Appcelerator Titanium Mobile",
    "--external": "void",
	"--output": "./../dist",
	"--meta-tags": "meta",
	"--template": "./jsduck/template",
	"--welcome": "welcome.html",
	"--head-html": "<link rel='stylesheet' href='resources/css/my.css' type='text/css'><link rel='stylesheet' href='resources/css/common.css' type='text/css'>",
	"--guides": "./../tmp/guides/guides.json",
	"--videos": "./videos.json",
	"--": ["./../tmp/titanium.js"]
}
